<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="@Url.Action("Index", "Dashboard")" class="brand-link">
        <img src="~/images/adidas_logo.svg" alt="Adidas Logo" class="mx-2">
        <span class="brand-text">Adidas Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Dashboard Section (Single Link) -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Dashboard")" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>


                <!-- Products Section -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Products")" class="nav-link">
                        <i class="nav-icon fas fa-box"></i>                        <p>Products</p>
                    </a>
                </li>
                <!-- Category Section -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-warehouse"></i>
                        <p>Category <i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                      
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "MainCategories")" class="nav-link">
                                <i class="nav-icon fas fa-tags"></i>
                                <p> Main Categories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Subcategories")" class="nav-link">
                                <i class="nav-icon fas fa-tags"></i>
                                <p>Sub Categories</p>
                            </a>
                        </li>


                    </ul>
                </li>

                <!-- Reviews Section -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Reviews")" class="nav-link">
                        <i class="nav-icon fas fa-star"></i>
                        <p>Reviews</p>
                    </a>
                </li>
         
                <!-- Orders Section -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-list-alt"></i>
                        <p>All Orders</p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Orders")" class="nav-link">
                                <i class="nav-icon fas fa-list-alt"></i>
                                <p>All Orders</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Summary", "Orders")" class="nav-link">
                                <i class="nav-icon fas fa-list-alt"></i>
                                <p>Summary</p>
                            </a>
                        </li>
                    </ul>
                </li>

             
                <!-- Payments Section -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Payment")" class="nav-link">
                        <i class="nav-icon fas fa-list-alt"></i>
                        <p>Payments</p>
                    </a>
                </li>

                <!-- Customers Section - Show only for Admins -->
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Customers")" class="nav-link">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Customers</p>
                        </a>
                    </li>
                }

                <!-- Discounts & Promotions Section -->
                <!-- Manage Coupons Section (Single Link) -->
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Coupon")" class="nav-link">
                        <i class="nav-icon fas fa-ticket-alt"></i>
                        <p>Discounts & Coupons </p>
                    </a>
                </li>


                <!-- Inventory Section -->
                @* <li class="nav-item"> *@
                @*     <a href="@Url.Action("Index", "Inventory")" class="nav-link"> *@
                @*         <i class="nav-icon fas fa-warehouse"></i> *@
                @*         <p>Inventory Dashboard</p> *@
                @*     </a> *@
                @* </li> *@


                @if (User.IsInRole("Admin"))
                {
                    <!-- Settings Section -->
                    <li class="nav-header">SYSTEM</li>
                    <!-- Settings Section (Dropdown) -->
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-cogs"></i>
                            <p>
                                Settings
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Users")" class="nav-link">
                                    <i class="nav-icon fas fa-users-cog"></i>
                                    <p>Users & Role Management</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="@Url.Action("Site", "Settings")" class="nav-link">
                                    <i class="nav-icon fas fa-sliders-h"></i>
                                    <p>Site Settings</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>